.container {
  margin-top: 20px;
  font-size: 15px;
}
ul {
  list-style: none;
  padding: inherit;
  margin: inherit;
  display: flex;
}
li {
  margin-right: 20px;
  transition: all 0.3s ease;
}
a { 
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease;
}
.copied {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}
a:hover {
  color: black;
  cursor: pointer;
}