.test {
  display: inline-block;
  position: relative;
  height: inherit;
  width: 400px;
  /* height: calc((1em + 1vw) * 1.15); */
  /* margin-bottom: -13px; */
  /* margin-left: 8px; */
  color: rgb(0,122,255);
}
.title {
  position: absolute;
}
.dummy {
  opacity: 0;
}
.current {
  opacity: 1;
  top: 0px;
  transition: all 0.3s;
}
.above {
  opacity: 0;
  top: -40px;
  transition: opacity 0.3s, top 0.3s ease 1.5s;
}
.below {
  opacity: 0;
  top: 40px;
  transition: opacity 0.3s, top 0.3s ease 1.5s;
}