.test {
  display: inline-block;
  position: relative;
  height: 44px;
  width: 400px;
}
.title {
  position: absolute;
}

.current {
  opacity: 1;
  top: 0px;
  transition: all 0.3s;
}
.after {
  opacity: 0;
  top: -40px;
  transition: opacity 0.3s, top 0.3s ease 1s;
}